<nav class="nav-secondary">
  <div class="nav-button">
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
  </div>

  <ul class="nav-patterns">
    <li routerLinkActive="active-link" routerLink="./chain-of-responsibility" class="nav-item"><a class="nav-link">Chain of responsibility</a></li>
    <li routerLinkActive="active-link" routerLink="./command" class="nav-item"><a class="nav-link">Command</a></li>
    <li routerLinkActive="active-link" routerLink="./interpreter" class="nav-item"><a class="nav-link">Interpreter</a></li>
    <li routerLinkActive="active-link" routerLink="./iterator" class="nav-item"><a class="nav-link">Iterator</a></li>
    <li routerLinkActive="active-link" routerLink="./mediator" class="nav-item"><a class="nav-link">Mediator</a></li>
    <li routerLinkActive="active-link" routerLink="./memento" class="nav-item"><a class="nav-link">Memento</a></li>
    <li routerLinkActive="active-link" routerLink="./observer" class="nav-item"><a class="nav-link">Observer</a></li>
    <li routerLinkActive="active-link" routerLink="./state" class="nav-item"><a class="nav-link">State</a></li>
    <li routerLinkActive="active-link" routerLink="./strategy" class="nav-item"><a class="nav-link">Strategy</a></li>
    <li routerLinkActive="active-link" routerLink="./template-method" class="nav-item"><a class="nav-link">Template method</a></li>
    <li routerLinkActive="active-link" routerLink="./visitor" class="nav-item"><a class="nav-link">Visitor</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
