<nav class="nav-secondary">
  <div class="nav-button">
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
  </div>

  <ul class="nav-patterns">
    <li routerLinkActive="active-link" routerLink="./factory-method" class="nav-item"><a class="nav-link">Factory
      Method</a></li>
    <li routerLinkActive="active-link" routerLink="./abstract-factory" class="nav-item"><a class="nav-link">Abstract
      Factory</a></li>
    <li routerLinkActive="active-link" routerLink="./builder" class="nav-item"><a class="nav-link">Builder</a></li>
    <li routerLinkActive="active-link" routerLink="./prototype" class="nav-item"><a class="nav-link">Prototype</a></li>
    <li routerLinkActive="active-link" routerLink="./singleton" class="nav-item"><a class="nav-link">Singleton</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
