<nav>
  <ul class="nav-patterns">
    <li routerLinkActive="active-link" routerLink="./adapter" class="nav-item"><a class="nav-link">Adapter</a></li>
    <li routerLinkActive="active-link" routerLink="./bridge" class="nav-item"><a class="nav-link">Bridge</a></li>
    <li routerLinkActive="active-link" routerLink="./composite" class="nav-item"><a class="nav-link">Composite</a></li>
    <li routerLinkActive="active-link" routerLink="./decorator" class="nav-item"><a class="nav-link">Decorator</a></li>
    <li routerLinkActive="active-link" routerLink="./facade" class="nav-item"><a class="nav-link">Facade</a></li>
    <li routerLinkActive="active-link" routerLink="./flyweight" class="nav-item"><a class="nav-link">Flyweight</a></li>
    <li routerLinkActive="active-link" routerLink="./proxy" class="nav-item"><a class="nav-link">Proxy</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
